<!--<div class="row">
    <div class="col-12">
        <app-title-h1 type= "secondary" text="Lista de Productos"></app-title-h1>
    </div>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
     <div class="col-12">
        <app-card-product [data]="product" *ngFor="let product of products| paginate: { itemsPerPage: i, currentPage: page, totalItems: total }" class="col-12 col-md-6 col-xl-3">
        </app-card-product>
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>
    </div>
-->

    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row text-center mt-5s">
                <h1 class="display-3 fw-bold text-capitalize">Nuestros productos</h1>
                <div class="heading-line"></div>
                <p class="lead">
                  Barra de busqueda.
                </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 ">
                    <input type="text"  class="shadow form-control form-control-md" [(ngModel)]="filtro">
                </div>
                <div class="col-1 ">
                    <button class="btn btn-outline-primary filter" type="button" style="margin-top: 0.11rem !important" (click)="getProductsFiltro()">Filtrar</button>
                </div>
            </div>
            
            <!-- FILTER BUTONS -->
            <div class="row mt-5 mb-4 g-3 text-center " style="margin-top: 1rem !important">
                <div class="col-md-12">
                <button class="btn btn-outline-primary filter" type="button" (click)="getProducts()">All</button>
             <!--   <button class="btn btn-outline-primary filter" type="button">Hogar</button>
                <button class="btn btn-outline-primary filter" type="button">Ropa</button>
                <button class="btn btn-outline-primary filter" type="button">Herramientas</button>-->
                </div>
            </div>
        
            
            <div class="row justify-content text-center">
                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                    <div class="col-lg-3 col-md-6  colCenter"  *ngFor="let product of products | paginate: { itemsPerPage: i, currentPage: page, totalItems: total }">
                        <div class="card mx-auto" style="width: 18rem;">
                            <img class="card-img-top " src="{{product.imagen}}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{product.nombre}}</h5>
                              <h6 class="card-title">{{product.categoria}}</h6>
                              <p class="card-text"> $ {{product.precio}}</p>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-outline-primary" routerLink="/panel/product/{{product.id}}">Detalle</button>
                                <button class="btn btn-outline-primary" (click)=addtocart(product)>Carrito</button>
                            </div>
                        </div>
                    </div>
                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </div>
        </div> 
    </section>

    <!--
        <app-card-product [data]="product" *ngFor="let product of products| paginate: { itemsPerPage: i, currentPage: page, totalItems: total }">
                    </app-card-product>
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
        
        
        <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Categoria</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Stock</th>
          <th>Precio</th>
        </tr>
        <tr *ngFor="let product of products| paginate: { itemsPerPage: i, currentPage: page, totalItems: total }">
            <td>{{ product.id }}</td>
            <td>{{ product.categoria }}</td>
            <td>{{ product.nombre }}</td>
            <td>{{ product.descripcion }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.precio }}</td>
        </tr>
      </table> 
      <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>-->


