<div class="row">
    <div class="col-12">
        <app-title-h1 type= "secondary" text="Lista de Productos"></app-title-h1>
    </div>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
     <div class="col-12">
        <app-card-product [data]="product" *ngFor="let product of products| paginate: { itemsPerPage: i, currentPage: page, totalItems: total }" class="col-12 col-md-6 col-xl-3">
            
        </app-card-product>
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>



    <!--<table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Categoria</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Stock</th>
          <th>Precio</th>
        </tr>
        <tr *ngFor="let product of products| paginate: { itemsPerPage: i, currentPage: page, totalItems: total }">
            <td>{{ product.id }}</td>
            <td>{{ product.categoria }}</td>
            <td>{{ product.nombre }}</td>
            <td>{{ product.descripcion }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.precio }}</td>
        </tr>
      </table> 
      <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>-->


</div>