<div class="row">
    <div class="col-12">
        <app-title-h1 type= "secondary" text="Lista de Productos"></app-title-h1>
    </div>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
     <div class="col-12">
        <app-card-product [data]="product" *ngFor="let product of products| paginate: { itemsPerPage: i, currentPage: page, totalItems: total }" class="col-12 col-md-6 col-xl-3">
        </app-card-product>
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>

    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row text-center mt-5s">
                <h1 class="display-3 fw-bold text-capitalize">Nuestros productos</h1>
                <div class="heading-line"></div>
                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint porro temporibus distinctio.
                </p>
              </div>
        </div>
        <!-- FILTER BUTONS -->
        <div class="row mt-5 mb-4 g-3 text-center ">
            <div class="col-md-12">
              <button class="btn btn-outline-primary filter" type="button">All</button>
              <button class="btn btn-outline-primary filter" type="button">Hogar</button>
              <button class="btn btn-outline-primary filter" type="button">Ropa</button>
              <button class="btn btn-outline-primary filter" type="button">Herramientas</button>
            </div>
          </div>


    </section>

    <!--<table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Categoria</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Stock</th>
          <th>Precio</th>
        </tr>
        <tr *ngFor="let product of products| paginate: { itemsPerPage: i, currentPage: page, totalItems: total }">
            <td>{{ product.id }}</td>
            <td>{{ product.categoria }}</td>
            <td>{{ product.nombre }}</td>
            <td>{{ product.descripcion }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.precio }}</td>
        </tr>
      </table> 
      <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>-->


</div>