<div class="container">
    <div style="margin-top: 80px;"></div>
<div class="row ">
    <div class="col-12">
        <h1 class="text-primary my-5">DETALLE DEL PRODUCTO</h1>
    </div>
    <div class="col-12">
        <div class="card mb-3 borde" style="max-width: 920x;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{currentProduct?.imagen}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">{{currentProduct?.nombre}}</h3>
                  <h6 class="card-text">Categoria: {{currentProduct?.categoria}}</h6>
                  <h6 class="card-text">Vendedor: {{currentProduct?.vendedor}}</h6>
                  <p class="card-text">Descripcion: {{currentProduct?.descripcion}}</p>
                  <p class="card-text"><small class="text-muted">Stock disponible {{currentProduct?.stock}}</small></p>
                  <h2 class="card-title">Precio en pesos: $ {{currentProduct?.precio}}</h2>
                  <h2 class="card-title">Precio en dolares: $ {{currentProduct?.precioDolar}}</h2>
                  <button class="btn btn-outline-primary" (click)=addtocart()>Carrito</button>
                  <button class="btn btn-outline-primary" routerLink="/panel/product">Tienda</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div style="margin-bottom: 50px;"></div>
</div>
</div>
















<!--  <div class="col-12 col-md-6 col-xl-3 mb-4 text-center">
        <img class="dsc-user-img" src="" alt="">{{currentProduct?.image}}
    </div>
    <div class="col-12 col-md-6 col-xl-9 pl-4">
        <h2 class="text-primary border-bottom pb-3">Detalle de {{currentProduct?.name}}</h2>
        <h3 class="text-secondary">Precio: {{currentProduct?.price}}</h3>
        <h3 class="text-secondary">Stock: {{currentProduct?.stock}}</h3>
        <h3 class="text-secondary">Precio: {{currentProduct?.price}}</h3>
        <p class="text-secondary">{{currentProduct?.description}}</p>
    </div>--><!--<h3 class="text-secondary border-bottom pb-3">Puesto: {{currentUser?.work ? currentUser?.work : '----'}}</h3> -->