<!--<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
            </i> 
         </div>   
        <button class="btn btn-primary" routerLink='/panel/product' >Lista productos</button>
        <button routerLink="/cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItems}}</div>
        </button>
    </div>

</header>-->
<header id="nav">
<nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/Ethereum_Outline_R.png" class="imgLogo" alt="logo image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        

        <button type="button" class="rounded-pill btn-rounded">
          {{cliente}}
          <span>
            <i class="fa-solid fa-right-to-bracket"></i>
          </span>
        </button>
        <button routerLink="/cart" class="btn btn-primary cart">
            <i  class="fas fa-cart-plus"></i>
            <div  class="badge">{{totalItems}}</div>
        </button>

      </div>
    </div>
  </nav>
</header>
    
